<svg width = "150" height = "100" *ngIf = "gameObs | async as Game" #svg>
  <line/>
  <g [appSvgZoomable]  = "svg" [appSvgDraggable]  = "svg">
    <circle *ngFor = "let planet of Game.planets"
            [attr.cx] = "planet.p[0]"
            [attr.cy] = "planet.p[1]"
            [attr.r]  = "planet.radius"
            [appSvgDraggable]  = "true"
            (svgDragEnd) = "dragPlanet(planet, $event)"
            class = "planet"
    />

  <g *ngFor = "let player of Game.players">
    <circle *ngFor = "let ship of player.ships" #ship
            [attr.cx] = "ship.p[0]"
            [attr.cy] = "ship.p[1]"
            [attr.r]  = "ship.radius"
            [attr.fill] = "player.color"
            [appSvgDraggable]  = "true"
            (svgDragEnd) = "dragShip(ship, $event)"
            class = "ship"
    />
  </g>

  <polyline   *ngFor = "let points of (trajectoriesObs | async) as Trajectoire; index as i"
              [attr.points] = "points"
              [attr.stroke] = "color[i]"
              fill = "none"
  />

</g>
</svg>

<!--<form (ngSubmit) = "updateAngleForce(angle.value, force.value)">
  <label>Angle :</label> <input type = "number" [ngModel] = "ship.angle" #angle>
  <label>Force : </label> <input type = "number" #force>
  <button>Submit</button>
</form>
-->
<button   (click) = "start()">START</button>
<button   (click) = "stop()">STOP</button>
<button   (click) = "load()">LOAD</button>

<pre>
  {{gameObs | async | json}}
</pre>

